<header>
    <h4><span id="ifb4">Dlexu configuration page</span></h4>
</header>
<div class="row">
    <div class="st-col col-12 col-sm st-module">
        <q-input id="i8cpp" v-model="undefined" :dense="true" label="Input"></q-input>
        <q-input id="iv9tz" v-model="undefined" :dense="true" label="Input"></q-input>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <q-input id="iir4q" v-model="undefined" :dense="true" label="Input"></q-input>
        <q-input id="ibyai" v-model="undefined" :dense="true" label="Input"></q-input>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <q-select id="iy9x9" :options="[]" v-model="fileuploads" label="..."></q-select>
    </div>
</div>
<div class="row">
    <div class="st-col col-12 col-sm st-module">
        <div class="row">
            <div class="st-col col-12 col-sm st-module">
                <q-btn id="ipykj" color="primary" icon="exit_to_app" label="Continue" v-on:click="shift = true"></q-btn>
                <q-btn id="i1x6y" icon="save" label="Save Configuration" v-on:click="shift = true"></q-btn>
                <q-btn id="i9oys" color="primary" icon="cancel" label="Leave" v-on:click="shift = true"></q-btn>
            </div>
        </div>
    </div>
</div>