.app-header {
    height: 60px;
     background-color: green;
     opacity: 1;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.app-div1 {
   background-color: green;
   opacity: 0.3;
}

.app-div2 {
    background-color: green;
    opacity: 0.6;
}
